
.contact {
  display: flex;
  align-items: center;
}
.contact__maps {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;
  margin-top: 20px;
}
.contact__maps--highlight {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__maps--highlight:hover,
.contact__maps--highlight:focus {
  color: #2196f3;
}
.contact__maps--highlight {
  color: #ffffff;
}
.contact__maps--highlight:visited {
  color: #ffffff;
}
.contact__link:visited {
  color: #757575;
}
.contact__link:hover,
.contact__link:hover svg,
.contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}
.contact__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link {
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}