.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19230769;
  text-decoration: none;

&__accent-text {
  color: #2196f3;
}
}
.active::after {
  content: '';
  display: block;
  border-bottom: 4px solid;
  position: relative;
  margin-top: -4px;
  top: 32px;
  color: #2196f3;
}

